# API
fastapi==0.65.2
uvicorn==0.14.0
requests==2.26.0


# GraphQL API
graphene>=3.0b5
graphene-pydantic==0.2.0
graphene-sqlalchemy==2.3.0

# ORM
sqlalchemy==1.4.20
psycopg2-binary==2.9.1


# Setting
python-dotenv==0.18.0


# Test
pytest==6.2.4